@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  
  /* font-size (base 4) */
  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 32px;
  --fs-6: 40px;
  --fs-7: 48px;

  /* radius (base 8) */
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;
  --radius-5: 40px;

  /* colors */
  --clr-pry: #1a2517;
  --clr-sec: #acc8a2;
  --clr-light: #fffffc;
  --clr-dark: #0c0c0c;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  background-color: var(--clr-dark);
}
.web-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(to right, var(--clr-sec), var(--clr-light));
  padding: 0 clamp(1rem, -0.4rem + 8vw, 2rem);
}

.card {
  max-width: 100%;
  background: var(--clr-light);
  padding: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  border-radius: clamp(1rem, 0.3rem + 4vw, 1.5rem);
  border: 1px solid darkgray;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto auto auto;
  gap: 0.5rem;
}

.profile__header {
  height: clamp(6.25rem, 2.4rem + 22vw, 9rem);
  border-radius: clamp(0.75rem, 0.4rem + 2vw, 1rem);
  background: linear-gradient(135deg, var(--clr-sec) 50%, var(--clr-pry) 50%);
  padding: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.profile__header img {
  position: absolute;
  left: 3%;
  bottom: -65%;
  border: clamp(0.188rem, 0.1rem + 0.5vw, 0.25rem) solid var(--clr-light);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  max-width: clamp(6.5rem, 3.7rem + 16vw, 8.5rem);
  width: 100%;
  height: auto;
  object-fit: cover;
}
a.cta-btn {
  align-self: flex-start;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-dark);
  background: var(--clr-sec);
  padding:  clamp(0.15rem, 0.08rem + 0.4vw, 0.2rem) clamp(0.55rem, 0.27rem + 1.6vw, 0.75rem);
  border-radius: clamp(0.375rem, 0.2rem + 1vw, 0.5rem);
  font-weight: 600;
  font-size: clamp(0.6rem, 0.04rem + 3.2vw, 1rem);
}
.profile__experience {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 clamp(0.5rem, -2.3rem + 16vw, 2.5rem);
}
.experience-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(0.35rem, 0.14rem + 1.2vw, 0.5rem);
}
.experience-wrapper p {
  font-size: clamp(0.7rem, 0.42rem + 1.6vw, 0.9rem);
  font-weight: 600;
}
.experience {
  max-width: 100%;
  display: flex;
  gap: 0.1em;
}
.experience span {
  border: clamp(0.119rem, 0.11rem + 0.05vw, 0.125rem) solid;
  min-height: clamp(0.438rem, 0.175rem + 1.5vw, 0.625rem);
  border-radius: clamp(3.125rem, -1.25rem + 25vw, 6.25rem);
  margin-right: clamp(0.025rem, -0.01rem + 0.2vw, 0.05rem);
}

/* color for each bar in experience section */
.experience .blue {
  border-color: #1f1fffbb;
}
.experience .bp-grad {
  border-color: #e025e0ad;
}
.experience .red {
  border-color: #ff2b2ba2;
}
.experience .ry-grad {
  border-color: #ffff2ea2;
}
.experience .green {
  border-color: #50ec50b0;
}
.experience .inactive {
  border-color: transparent;
  outline: 1px solid lightgray;
  margin-right: clamp(0.05rem, -0.02rem + 0.4vw, 0.1rem);
}

.profile__summary {
  padding: 0 3%;
}
.profile__summary h1 {
  font-size: clamp(1rem, 0.3rem + 4vw, 1.5rem);
  line-height: 1.4;
}
.profile__summary p {
  font-size: clamp(0.7rem, 0.42rem + 1.6vw, 0.9rem);
  font-weight: 500;
}

.profile__contact {
  display: flex;
  justify-content: center;
  gap: clamp(0.35rem, 0.14rem + 1.2vw, 0.5rem);
}

.profile__stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  border: 1px solid #929292;
  max-width: 100%;
  margin-inline: 3%;
  border-radius: clamp(0.75rem, 0.4rem + 2vw, 1rem);
}
.stat {
  text-align: center;
  padding: clamp(0.7rem, 0.28rem + 2.4vw, 1rem) 0;
}
p.stat-number {
  font-size: clamp(0.675rem, 0.36rem + 1.8vw, 0.9rem);
  font-weight: 500;
}
.stat-label {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.2rem, -0.08rem + 1.6vw, 0.4rem);
}
.stat-label i {
  font-size: clamp(0.9rem, 0.34rem + 3.2vw, 1.3rem);
}
.stat-label span {
  font-size: clamp(0.7rem, 0.42rem + 1.6vw, 0.9rem);
}
.stat-align:not(:last-child) {
  border-right: 1px solid #c7c7c7;
}

.profile__footer {
  display: flex;
  text-align: center;
  gap: clamp(0.3rem, 0.02rem + 1.6vw, 0.5rem);
  margin-inline: auto;
}
i.fa-brands {
  font-size: clamp(0.8rem, 0.52rem + 1.6vw, 1rem);
  border: 1px solid #929292;
  padding: clamp(0.5rem, 0.22rem + 1.6vw, 0.7rem) clamp(0.7rem, 0.42rem + 1.6vw, 0.9rem);
  border-radius: var(--radius-1);
}
.fa-heart {
  color: #ff2b2ba2;
}
.fa-comment {
  color: #1f1fffbb;
}
.fa-eye {
  color: #e025e0ad;
}