@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  
  /* font-size (base 4) */
  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 32px;
  --fs-6: 40px;
  --fs-7: 48px;

  /* radius (base 8) */
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;
  --radius-5: 40px;

  /* colors */
  --clr-pry: #1a2517;
  --clr-sec: #acc8a2;
  --clr-light: #fffffc;
  --clr-dark: #0c0c0c;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}
body, html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  background-color: var(--clr-dark);
}
.web-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(to right, var(--clr-sec), var(--clr-light));
  padding: 0 clamp(1rem, -0.4rem + 8vw, 2rem);
}

.card {
  max-width: 100%;
  background: var(--clr-light);
  padding: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  border-radius: var(--radius-3);
  border: 1px solid darkgray;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto auto auto;
  gap: 0.5rem;
}

.profile__header {
  height: clamp(7rem, 4.2rem + 16vw, 9rem);
  border-radius: var(--radius-2);
  background: linear-gradient(135deg, var(--clr-sec) 50%, var(--clr-pry) 50%);
  padding: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.profile__header img {
  position: absolute;
  left: 3%;
  bottom: -65%;
  border: 4px solid var(--clr-light);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  max-width: 8.5em;
  width: 100%;
  height: auto;
  object-fit: cover;
}
a.cta-btn {
  align-self: flex-start;
  display: block;
  text-decoration: none;
  color: var(--clr-dark);
  background: var(--clr-sec);
  padding:  0.2em 0.75em;
  border-radius: var(--radius-1);
  font-weight: 600;
  font-size: clamp(0.75rem, 0.4rem + 2vw, 1rem);
}
.profile__experience {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2.5rem;
}
.experience-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.experience {
  max-width: 100%;
  display: flex;
  gap: 0.1em;
}
.experience span {
  border: 2px solid;
  min-height: 10px;
  border-radius: 100px;
  margin-right: 0.05em;
}

/* color for each bar in experience section */
.experience .blue {
  border-color: #1f1fffbb;
}
.experience .bp-grad {
  border-color: #e025e0ad;
}
.experience .red {
  border-color: #ff2b2ba2;
}
.experience .ry-grad {
  border-color: #ffff2ea2;
}
.experience .green {
  border-color: #50ec50b0;
}
.experience .inactive {
  border-color: transparent;
  outline: 1px solid lightgray;
  margin-right: 0.1em;
}

.profile__summary {
  padding: 0 3%;
  /* border: 1px solid #000; */
}
.profile__summary h1 {
  font-size: clamp(1rem, 0.3rem + 4vw, 1.5rem);
  line-height: 1.4;
}
.profile__summary p {
  font-size: clamp(0.7rem, 0.42rem + 1.6vw, 0.9rem);
  font-weight: 500;
}

.profile__contact {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.profile__contact {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.profile__stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  border: 1px solid lightgray;
  max-width: 100%;
  margin-inline: 3%;
  border-radius: var(--radius-2);
}
.stat {
  text-align: center;
  padding: 1rem 0;
}
.stat-number {
  font-size: 0.8rem;
  font-weight: 500;
}
.stat-label {
  font-size: 0.7rem;
  font-weight: 600;
}
.stat-align:not(:last-child) {
  border-right: 1px solid #c7c7c7;
}

.profile__footer {
  max-width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-inline: auto;
}
.fa-brands {
  border-right: 1px solid #c7c7c7;
  padding: 0.5rem;
}
.fa-tiktok {
  border: none;
}