@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  
  /* font-size (base 4) */
  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 32px;
  --fs-6: 40px;
  --fs-7: 48px;

  /* radius (base 8) */
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;
  --radius-5: 40px;

  /* colors */
  --clr-pry: #1a2517;
  --clr-sec: #acc8a2;
  --clr-light: #fffffc;
  --clr-dark: #0c0c0c;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}
body, html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  background-color: var(--clr-dark);
}
.web-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(to right, var(--clr-sec), var(--clr-light));
  padding: 0 clamp(1rem, -0.4rem + 8vw, 2rem);
}

.card {
  max-width: 100%;
  min-height: 50vh;
  background: var(--clr-light);
  padding: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  border-radius: var(--radius-3);
  border: 1px solid darkgray;
}

.profile__header {
  height: clamp(7rem, 4.2rem + 16vw, 9rem);
  border-radius: var(--radius-2);
  background: linear-gradient(135deg, var(--clr-sec) 50%, var(--clr-pry) 50%);
  padding: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
a.cta-btn {
  align-self: start;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-dark);
  background: var(--clr-sec);
  padding:  0.2em 0.75em;
  border-radius: var(--radius-1);
  font-weight: 600;
  font-size: clamp(0.75rem, 0.4rem + 2vw, 1rem);
}